@model webnc_api.Models.Baihat

@{
    ViewBag.Title = "ThemBai";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="box box-primary">
    <form method="post" action="/Admin/SongAdmin/ThemBai" enctype="multipart/form-data">
        <div class="box-header with-border">
            <h2 class="box-title">Thêm mới bài hát</h2>
            
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="tab-pane active" id="tab_1">
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Bài hát</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group">
                        @Html.LabelFor(model => model.Tenbai, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Tenbai, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Tenbai, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Casi, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Casi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Casi, "", new { @class = "text-danger" })
                        </div>
                    </div>

                   @*<div class="form-group">
                            @Html.LabelFor(model => model.Thoiluong, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Thoiluong, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Thoiluong, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    <div class="form-group">
                        @Html.LabelFor(model => model.Theloai, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Theloai, new SelectList(ViewBag.TheloaiList, "Value", "Text"), "Chọn Thể Loại Bài Hát", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Theloai, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Linkbaihat, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @*@Html.EditorFor(model => model.Linkbaihat, new { htmlAttributes = new { @class = "form-control" } })*@
                            <input type="file" name="flinksong" class="form-control" accept=".mp3" />
                            @Html.ValidationMessageFor(model => model.Linkbaihat, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Img, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @*@Html.EditorFor(model => model.Img, new { htmlAttributes = new { @class = "form-control" } })*@
                            <input type="file" name="flinkimg" class="form-control" accept=".jpg" />
                            @Html.ValidationMessageFor(model => model.Img, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div><!-- /.tab-pane -->
        </div><!-- /.box-body -->
    </form>
</div><!-- /.box -->


